body {
  width: 100%;
  margin: 0 auto;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
  background-color: white;
}

.block {
  width: 1350px;

  height: 650px;
}

#main {
  display: flex;
  flex-direction: row;

  background-color: #ff8c00;
}
#sheff {
  background-color: #0dbda3;
}
#atmosphere {
  background-color: white;
}
#contacts {
  background-color: #ff8c00;
}
.leftPart {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.mafLogo {
}
.logo {
  display: flex;
  flex-direction: column;
}
.menu {
}
.rightPart {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
}
.star {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
.star svg {
  padding-top: 10px;
  margin-right: 10px;
}

.bananaVafels img {
  width: 100%;
  height: 500px;
}
